.btn1
{
    border-radius: 25px     !important;
        width: 16%;
        margin-left: 7%;
        margin-bottom: -2%;
        background-color: #114f4a!important;
        color: rgba(227, 230, 238, 0.9) !important;
        border: none;
        padding: 0.7%;
}
.btn1:hover
{
	background-color: rgba(227, 230, 238, 0.9) !important;
	color:	#114f4a !important;
	border: 1px solid #114f4a;
	transition: 0.2s;
}