{% extends 'base.html' %}
{% block title %} Order Details{% endblock title %}
{% block a %}active {% endblock a %} 
{% block add%}neworder{% endblock add %}	
{% block what %}Order{% endblock what %}
{% block stylesheet%}
<link rel='stylesheet' href='../static/css/orders.css'>
{% endblock stylesheet%}
{% block body %}
{% load mathfilters %}
 
<div class="container">   
{% if active %}
<form method='POST' >
 {% csrf_token %}
 <input type="text" placeholder="Enter Serial No. or Mobile No." id="in" name="inp">
<button type="submit" class="btn0" role="button" id="search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></button>
<table>
	<tr>
		<th style='width:5%;'> </th>
		<th>Serial number</th>
		<th>Order name</th>
		<th>Booking date</th>
    	<th>Delivery Date</th>
    	<th>Balance</th>
    	<th>Mobile number</th>
    	<th>Generate bill</th>
     </tr>
    {% for x in active%}
		<tr>
		<td><input type='checkbox' name="del[]" value={{x.Order_id}} onchange='track(this)' ></td>
		<td>{{x.serial_number}}</td>
		<td ><a href='editorder/{{x.Order_id}}'  class='edit'>{{x.order_name}}</a></td>
        	<td>{{x.order_received}}</td>
        	<td>{{x.delivery_date}}</td>
			<td>{% if x.amount|sub:x.advance == 0 %} Fully Paid {% else %} {{x.amount| sub:x.advance}} {% endif %}</td>
        	<td>{{x.mobile_number}}</td>
			<td><a href='generatebill/{{x.Order_id}}' target='_blank'>{{x.serial_number}}</a></td>
		</tr>
	{% endfor %}
</table> 
<button disabled type='submit' class="btn1" role="button" id='del'>Payment Received </button>

</form>
{%else%}
<h2>No Ongoing Orders</h2>
{% endif %}
</div>
<div class="left">
<a href='pendingorders'>Pending Orders  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg></a>
<a href='completedorders'>Completed Orders  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg></a>
</div>
{% endblock body %}
